**/dist
**/node_modules/
npm-debug.log

*.md
.*ignore
.aws
.coverage
.coverage.*
.dockerignore
.editorconfig
.env
.gcloudignore

.git
.gitignore

.vscode

arm/
build
dist
powerpc/
vendor/
mips/

docker-compose*.yml
docker-compose.dev.yml
docker-compose.yml
Dockerfile
Dockerfile*
Dockerfile.dev

LICENSE
NOTICE
